.btn {
  padding: 8px;
}

.btn-sm {
  padding: 6px;
  font-size: 12px;
}

.btn,
.btn-sm {
  border-radius: 18px;
  border-width: 1px;
  cursor: pointer;
}

.btn-primary {
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-transparent {
  background-color: transparent;
  color: black;
  border-width: 0;
}

.btn-hover:hover {
  color: white;
  background-color: black;
}