nav {
  align-items: center;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 2px #bbbbbb;
  padding: 0;
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.navbar-brand {
  align-items: center;
  display: flex;
  color: black;
}

nav .logo {
  padding: 10px 15px;
  height: 50px;
  width: 50px;
}

nav .nav-link {
  display: flex;
  padding: 15px 20px;
  margin-right: 0;
  margin-left: auto;
}

.nav-link > * {
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.nav-link a {
  color: rgb(187, 187, 187);
}

.nav-link a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.nav-link a.active:hover {
  cursor: default;
}

.nav-link .active {
  color: black;
}

.nav-link span {
  color: rgb(255, 128, 128);
}

.nav-link span:hover {
  color: red;
  cursor: pointer;
  text-decoration: none;
}