.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.logo {
  height: 150px;
}

.label {
  margin-top: 50px;
}